{% extends 'layout.html.twig' %}

{%block title%}Administration : Import de données{%endblock%}

{%block content%}
    {% if resultat == true %}
    <div class="row no-padding">
        <div class="col-lg-12">
            <h1>Administration : Importation des données</h1>
            Le téléchargement du fichier s'est correctement déroulé.<br/>
            Il y avait des données de {{ nb_licencies }} licenciés dans ce fichier.<br>
            Dont 
            <ul>
                <li>{{nouveaux|length}} personnes absentes de la base</li>
                <li>{{a_modif|length}} personnes déjà présentes dans la base</li>
            </ul>
            <br>
            {% if nouveaux|length > 0 %}
            <h2>Personnes absentes de la base de données : </h2>
            <div class="row no-padding">
                <div class="col-lg-12">
                    <form action="index.php?rub=ajout-nveau-bdd" method="post">
                    <input type="hidden" name="destination" value="{{destination}}">
                    <div class="absentes">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Numéro de structure</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Sexe</th>
                                    <th>Numéro de licence</th>
                                    <th>Date de naissance</th>
                                    <th>Email</th>
                                    <th>Adresse</th>
                                    <th>Code Postale</th>
                                    <th>Ville</th>
                                    <th>N° portable</th>
                                    <th>N° domicile</th>
                                    <th>N° bureau</th>
                                    <th>N° du responsable légal 1</th>
                                    <th>N° du responsable légal 2</th>
                                    <th>num_appt</th>
                                    <th>Résidence</th>
                                    <th>Lieu-dit</th>
                                    <th>OffreCom</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set cpt_lic = 1 %}
                                {% for nouveau in nouveaux %}
                                <tr>
                                  
                                    <td>
                                   <!-- <input type="hidden" name="{{cpt_lic}}_num_structure" value="{{ nouveau.num_structure }}"> -->
                                    {{ nouveau.num_structure }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_prenom" value="{{nouveau.prenom}}"> -->
                                    {{ nouveau.prenom}}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_nom" value="{{nouveau.nom}}">-->
                                    {{ nouveau.nom}}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_sexe" value="{{nouveau.sexe}}">-->
                                    {{ nouveau.sexe}}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_no_licence" value="{{nouveau.numero_licence}}"> -->
                                    {{ nouveau.numero_licence }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_date_naissance" value="{{nouveau.date_naissance}}">-->
                                    {{ nouveau.date_naissance|date("d-m-Y") }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_email" value="{{nouveau.email}}">-->
                                    {{ nouveau.email }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_rue" value="{{nouveau.rue}}">-->
                                    {{ nouveau.rue }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_cp" value="{{nouveau.cp}}">-->
                                    {{ nouveau.cp }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_ville" value="{{nouveau.ville}}">-->
                                    {{ nouveau.ville }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_tel_portable" value="{{nouveau.tel_portable}}">-->
                                    {{ nouveau.tel_portable }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_tel_domicile" value="{{nouveau.tel_domicile}}">-->
                                    {{ nouveau.tel_domicile }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_tel_bureau" value="{{nouveau.tel_bureau}}">-->
                                    {{ nouveau.tel_bureau }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_tel_responsable_legal_1" value="{{nouveau.tel_responsable_legal_1}}">-->                   
                                    {{ nouveau.tel_responsable_legal_1 }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_tel_responsable_legal_2" value="{{nouveau.tel_responsable_legal_2}}">-->
                                    {{ nouveau.tel_responsable_legal_2 }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_num_appt" value="{{nouveau.num_appt}}">-->
                                    {{ nouveau.num_appt }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_residence" value="{{nouveau.residence}}">-->
                                    {{ nouveau.residence }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_lieu_dit" value="{{ nouveau.lieu_dit }}">-->
                                    {{ nouveau.lieu_dit }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_offrecom" value="{{nouveau.offreCom}}">-->
                                    {{ nouveau.offreCom }}</td>
                                </tr>
                                {% set cpt_lic = cpt_lic + 1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                  
                    <br>
                    <button class="btn btn-success" type="submit">Importer</button>
                
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    
    {% else %}
        Il y a eu un soucis durant l'importation.

    {% endif %}
{% endblock %}