{% extends 'layout.html.twig' %}

{%block title%}Administration : Import de données{%endblock%}

{%block content%}
    {% if resultat == true %}
        {% set deja_presents = comp_modifs|length %}
    <div class="row no-padding">
        <div class="col-lg-12">
            <h1>Administration : Importation des données</h1>
            Le téléchargement du fichier s'est correctement déroulé.<br/>
            Il y avait des données de {{ nb_licencies }} licenciés dans ce fichier.<br>
            Dont 
            <ul>
                <li>{{ nouveaux|length }} personnes absentes de la base</li>
                <li>{{ deja_presents }} personnes déjà présentes dans la base</li>
            </ul>
            <br>
            


            {% if nouveaux|length > 0 %}
            
            <div class="row no-padding">
                <div class="col-lg-12">
                <h2>Personnes absentes de la base de données : </h2>
                    <form action="index.php?rub=ajout-nveau-bdd" method="post">
                    <input type="hidden" name="destination" value="{{destination}}">
                    <div class="absents">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Numéro de structure</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Sexe</th>
                                    <th>Numéro de licence</th>
                                    <th>Date de naissance</th>
                                    <th>Email</th>
                                    <th>Adresse</th>
                                    <th>Code Postale</th>
                                    <th>Ville</th>
                                    <th>N° portable</th>
                                    <th>N° domicile</th>
                                    <th>N° bureau</th>
                                    <th>N° du responsable légal 1</th>
                                    <th>N° du responsable légal 2</th>
                                    <th>num_appt</th>
                                    <th>Résidence</th>
                                    <th>Lieu-dit</th>
                                    <th>OffreCom</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set cpt_lic = 1 %}
                                {% for nouveau in nouveaux %}
                                <tr>
                                  
                                    <td>
                                   <!-- <input type="hidden" name="{{cpt_lic}}_num_structure" value="{{ nouveau.num_structure }}"> -->
                                    {{ nouveau.num_structure }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_prenom" value="{{nouveau.prenom}}"> -->
                                    {{ nouveau.prenom}}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_nom" value="{{nouveau.nom}}">-->
                                    {{ nouveau.nom}}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_sexe" value="{{nouveau.sexe}}">-->
                                    {{ nouveau.sexe}}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_no_licence" value="{{nouveau.numero_licence}}"> -->
                                    {{ nouveau.numero_licence }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_date_naissance" value="{{nouveau.date_naissance}}">-->
                                    {{ nouveau.date_naissance|date("d-m-Y") }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_email" value="{{nouveau.email}}">-->
                                    {{ nouveau.email }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_rue" value="{{nouveau.rue}}">-->
                                    {{ nouveau.rue }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_cp" value="{{nouveau.cp}}">-->
                                    {{ nouveau.cp }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_ville" value="{{nouveau.ville}}">-->
                                    {{ nouveau.ville }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_tel_portable" value="{{nouveau.tel_portable}}">-->
                                    {{ nouveau.tel_portable }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_tel_domicile" value="{{nouveau.tel_domicile}}">-->
                                    {{ nouveau.tel_domicile }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_tel_bureau" value="{{nouveau.tel_bureau}}">-->
                                    {{ nouveau.tel_bureau }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_tel_responsable_legal_1" value="{{nouveau.tel_responsable_legal_1}}">-->                   
                                    {{ nouveau.tel_responsable_legal_1 }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_tel_responsable_legal_2" value="{{nouveau.tel_responsable_legal_2}}">-->
                                    {{ nouveau.tel_responsable_legal_2 }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_num_appt" value="{{nouveau.num_appt}}">-->
                                    {{ nouveau.num_appt }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_residence" value="{{nouveau.residence}}">-->
                                    {{ nouveau.residence }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_lieu_dit" value="{{ nouveau.lieu_dit }}">-->
                                    {{ nouveau.lieu_dit }}</td>
                                    <td>
                                    <!--<input type="hidden" name="{{cpt_lic}}_offrecom" value="{{nouveau.offreCom}}">-->
                                    {{ nouveau.offreCom }}</td>
                                </tr>
                                {% set cpt_lic = cpt_lic + 1 %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                  
                    <br>
                    <button class="btn btn-success" type="submit">Importer ces nouveaux licenciés</button>
                
                    </form>
                </div>
            </div>
            {% endif %}

            {% if (comp_modifs|length > 0) %}
          
            <div class="row no-padding">
                <div class="col-lg-12">
                    <h2>Licenciés du fichier déjà présents dans la base</h2>
                    <form action="index.php?rub=mise-a-jour" method="post">
                    <input type="hidden" name="destination" value="{{destination}}">
                    <div id="deja-presents" class="deja-presents">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Source</th>
                                    <th>Nméro de structure</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Sexe</th>
                                    <th>Numéro de licence</th>
                                    <th>Date de naissance</th>
                                    <th>Email</th>
                                    <th>Adresse</th>
                                    <th>Code Postale</th>
                                    <th>Ville</th>
                                    <th>N° portable</th>
                                    <th>N° domicile</th>
                                    <th>N° bureau</th>
                                    <th>N° du responsable légal 1</th>
                                    <th>N° du responsable légal 2</th>
                                    <th>num_appt</th>
                                    <th>Résidence</th>
                                    <th>Lieu-dit</th>
                                    <th>OffreCom</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% set cpt_elements = 0 %}
                        {% for m in comp_modifs %}
                            <tr>
                                <td>Fichier</td>
                                <td>{{ m.fichier.num_structure }}</td>
                                <td>{{ m.fichier.prenom }}</td>
                                <td>{{ m.fichier.nom }}</td>
                                <td>{{ m.fichier.sexe }}</td>
                                <td>{{ m.fichier.numero_licence }}</td>
                                <td>{{ m.fichier.date_naissance }}</td>
                                <td>{{ m.fichier.email }}</td>
                                <td>{{ m.fichier.rue }}</td>
                                <td>{{ m.fichier.cp }}</td>
                                <td>{{ m.fichier.ville }}</td>
                                <td>{{ m.fichier.tel_portable }}</td>
                                <td>{{ m.fichier.tel_domicile }}</td>
                                <td>{{ m.fichier.tel_bureau }}</td>
                                <td>{{ m.fichier.tel_resp_legal_1 }}</td>
                                <td>{{ m.fichier.tel_resp_legal_2 }}</td>
                                <td>{{ m.fichier.num_appt }}</td>
                                <td>{{ m.fichier.residence }}</td>
                                <td>{{ m.fichier.lieu_dit }}</td>
                                <td>{{ m.fichier.offreCom }}</td>
                            </tr>
                            <tr>
                                <td>bdd</td>
                                <td>{{ m.bdd.uti_num_structure }}</td>
                                <td>{{ m.bdd.uti_nom }}</td>
                                <td>{{ m.bdd.uti_prenom }}</td>
                                <td>{{ m.bdd.uti_sexe }}</td>
                                <td>{{ m.bdd.uti_numero_licence }}</td>
                                <td>{{ m.bdd.uti_date_naissance }}</td>
                                <td>{{ m.bdd.uti_email }}</td>
                                <td>{{ m.bdd.uti_adresse }}</td>
                                <td>{{ m.bdd.uti_cp }}</td>
                                <td>{{ m.bdd.uti_ville }} </td>
                                <td>{{ m.bdd.uti_tel_portable }}</td>
                                <td>{{ m.bdd.uti_tel_domicile }}</td>
                                <td>{{ m.bdd.uti_tel_bureau }}</td>
                                <td>{{ m.bdd.uti_tel_resp_legal_1 }}</td>
                                <td>{{ m.bdd.uti_tel_resp_legal_2 }}</td>
                                <td>{{ m.bdd.uti_num_appt }}</td>
                                <td>{{ m.bdd.uti_residence }}</td>
                                <td>{{ m.bdd.uti_lieu_dit }}</td>
                                <td>{% if m.bdd.uti_offrecom == 1 %}OUI{%else%}NON{%endif%}</td>
                            </tr>
                            <tr>
                                <td colspan="20">
                                    <hr>
                                </td>
                            </tr>

                        {% set cpt_elements = cpt_elements +1 %}
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>

                    <br>
                    <button class="btn btn-success" type="submit">Mettre à jour</button>
                    </form>
                </div>
            </div>  

             <script>
                /*VERSION FACTORISEE*/
                const compare = (ids, asc) => (row1, row2) => {
                const tdValue = (row, ids) => row.children[ids].textContent;
                const tri = (v1, v2) => v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2);
                return tri(tdValue(asc ? row1 : row2, ids), tdValue(asc ? row2 : row1, ids));
                };

                const tbody = document.querySelector('tbody');
                const thx = document.querySelectorAll('th');
                const trxb = tbody.querySelectorAll('tr');
                thx.forEach(th => th.addEventListener('click', () => {
                console.log("clic");
                let classe = Array.from(trxb).sort(compare(Array.from(thx).indexOf(th), this.asc = !this.asc));
                classe.forEach(tr => tbody.appendChild(tr));
                }));
    </script>
            {% endif %}

        </div>
    </div>

    
    
    {% else %}
        Il y a eu un soucis durant l'importation.

    {% endif %}
{% endblock %}